@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
    scrollbar-width: none; /* Untuk Firefox */
    -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
  }
  
  /* Untuk browser Webkit (Chrome, Safari, Opera) */
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }